*.pyc
venv
.venv
.DS_Store
*.sqlite3
*.env
.idea
*.prd
./.vscode
.pytest_cache
media
./.tox
.coverage
*credentials-secret-manager.json
htmlcov
coverage.xml
debug.log
.docker/postgres/
requirements.txt
.ruff_cache
